body {
   background-size: cover;
}

body, html {
   height: 100%;
   margin: 0;
 }

.flex-container {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   padding: 0;
   margin-left: 10em;
   height: 100%;
   width: 30%;

}

.flex-item {
  width:100%;
  background-color: beige;
}

.grid {
   display: grid;
   grid-template-areas: 
      "about github"
      "terms privacy";
   align-items: center;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   background-color: #2b1e23;
   border-radius: 50px;

}

.title {grid-area:title;
        font-size: 3vw;
        text-align: left;
}
.about {grid-area:about;}
.github {grid-area:github}
.terms {grid-area:terms}
.privacy {grid-area:privacy}

.grid-item {
   background-color: #34b038;
   height:1fr;
   width: 1fr;
   border-radius: 10px;
}

.grid-item p {
   text-align: center;
}


